@import "../../variables.css";

.authPage {
    position: relative;
    min-height: calc(100% - var(--headerHeight));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    form {
        width: 500px;
        margin: 40px 0; 
        border-radius: 20px;
        padding: 20px;

        .inputWrapper {
            position: relative;     
            width: 100%;

            input {
                width: 100%;
                padding: 18px 20px;
                margin: 10px 0;
                border: none;
                outline: none;
                border-radius: 20px;
                font-size: 18px;
                border: 1px solid black;
                &::placeholder {
                    font-size: 18px;
                    color: black;
                }
            }

            .eye {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }

        h2 {
            font-size: 50px;
            margin-bottom: 30px;
        }

        button {
            width: 100%;
            background: var(--blue);
            color: white;
            font-size: 25px;
            border-radius: 20px;
            padding: 15px;
            margin-top: 20px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .error {
            width: max-content;
            margin: 5px auto;
            color: red;
            font-size: 20px;
            font-weight: bold;
        }
    }
}