@import "../../variables.css";

.authPage {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.authPage form {
    width: 350px;
    margin: 40px 0;
}

.authPage form h2 {
    font-size: 40px;
}

.authPage form input {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid black;
}

.authPage form input::placeholder {
    font-size: 16px;
}

.authPage form button {
    width: 100%;
    background: var(--blue);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.authPage .error {
    width: max-content;
    margin: 5px auto;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.rightBox {
    position: absolute;
    right: -150px;
    top: -150px;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 100px 0 0 100px;
    transform: rotate(-60deg);
    background: linear-gradient(to bottom, #8b8bff, var(--blue), var(--blue));
}

.leftBox {
    position: absolute;
    bottom: -120px;
    left: -160px;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 0 100px 100px 0;
    transform: rotate(-40deg);
    background: linear-gradient(to top, #8b8bff, var(--blue), var(--blue));
}

@media screen and (max-width: 1264px) {
    .authPage {
        overflow: auto;
    }

    .leftBox, 
    .rightBox {
        display: none;
    }
}