@import "../../variables.css";

.adminCountries {
    min-height: calc(100vh - var(--headerHeight));
    padding: 40px;
    background: var(--black);

    .countriesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));    
        gap: 45px;
    }

    .topContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        .inputWrapper {
            position: relative;
            width: 45%;

            input {
                width: 100%;
            }
        }

        button {
            border: none;
            outline: none;
            background: var(--blue);
            color: white;
            font-size: 20px;
            padding: 10px 20px;
            margin-left: 40px;
            border-radius: 5px;
            margin-top: auto;
            cursor: pointer;
        }
    }

    .tableContainer {

        h2 {
            width: max-content;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    .adminCountries {
        .topContainer {
            flex-direction: column;

            .inputWrapper {
                width: 80%;

                input {
                    margin: 20px 0;
                }
            }

            button {
                margin: 15px 0 0 0;
                padding: 8px 50px;
            }
        }
    }
}