@import "../../variables.css";

.dashboard {
    height: calc(100%  - var(--headerHeight));
    display: grid;
    grid-template-rows: 70px calc(100% - 70px);
}

.dashboard .title {
    width: max-content;
    font-size: 30px;
    margin: auto;
    border-bottom: 4px solid var(--blue);
}

.dashboard .countriesContaier {
    overflow-y: auto;
}