@import "../../../variables.css";

.form {
    position: relative;
    width: 80%;
    height: 80%;
    background: white;
    overflow: auto;
    padding: 30px 50px;
    border-radius: 15px;

    .error {
        font-size: 22px;
        font-weight: bold;
        color: red;
        margin: 20px 0 5px 0;
    }

    .save {
        border: none;
        border-radius: 10px;
        padding: 10px;
        color: white;
        background: var(--blue);
        font-size: 20px;
        outline: none;
        width: 150px;
        margin-top: 20px;
        cursor: pointer;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .inputWrapper {
        width: 50%;
        position: relative;
        margin: 20px 0;

        input {
            border: none;
            outline: none;
            border-bottom: 1px solid black;
            width: 100%;
            padding: 15px;
            font-size: 18px;
            &::placeholder {
                font-size: 18px;
                color: black;
            }
        }

        .eye {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 20px;
        cursor: pointer;
    }

    h3 {
        font-size: 30px;
        margin: 35px 0 25px 0;
    }

    .permissionItem {
        margin: 8px 0;

        label {
            cursor: pointer;
            font-size: 20px;
            margin: 8px 0;

            input {
                margin-right: 8px;
            }
        }
    }
}