@import "../../variables.css";

.input {
    outline: none;
    border: none;
    border-bottom: 1.9px solid var(--blue);
    padding: 0 20px;
    font-size: 20px;

    &::placeholder {
        font-size: 20px;
        color: black;
    }
}