@import "../../variables.css";

.accounts {
    position: relative;
    min-height: calc(100vh - var(--headerHeight));
    margin-top: var(--headerHeight);
    background: var(--black);
    padding: 40px;

    .usersContainer {

        h2 {
            width: max-content;
            margin: 0 auto;
            color: white;
        }
    }
}