@import "../../variables.css";

.countryPage {
    min-height: calc(100% - var(--headerHeight));
    padding: 20px;

    h2 {
        font-size: 30px;
    }

    p {
        margin: 20px 0;
        font-size: 18px;
    }

    span {
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
    }
}