@import '../../variables.css';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 50px;
    background: var(--black);
    color: white;
    z-index: 10;
    transition: box-shadow 0.4s ease;
    &.sticky {  
        box-shadow: 0 5px 15px rgb(41, 41, 41);
    }

    nav {
        display: flex;  
        align-items: center;
        z-index: 1;
        height: 100%;

        .navItem {
            position: relative;
            height: 100%;
            text-decoration: none;
            color: white;
            font-size: 23px;
            font-weight: bold;
            letter-spacing: 1.2px;
            margin-right: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                margin-right: 5px;
            }

            .children {
                background: var(--black);
                width: 350px;
                position: absolute;
                top: 100%;
                right: 0;
                display: flex;
                flex-direction: column;
                transform-origin: top right;
                visibility: hidden;
                opacity: 0;
                transform: scale(0);
                box-shadow: 5px 20px 20px rgba(26, 26, 26, 0.823);
                border-radius: 0 0 10px 10px;
                transition: visibility 0s, opacity 0.5s linear, transform 0.1s linear;
                &.active {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }

                .profile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 30px;
                    padding: 10px 0 20px 0;
                    cursor: auto;
                    
                    svg {
                        font-size: 40px;
                        margin-bottom: 10px;
                    }
                }

                .childItem {
                    width: 100%;
                    padding: 15px 20px;
                    color: white;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    &:hover {
                        background: rgb(46, 46, 46);
                    }
                    &:last-child {
                        border-radius: 0 0 10px 10px;
                    }
                }
            }

            .arrowTop {
                margin-left: 10px;
                transition: transform 0.1s linear;
                &.active {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .menuIcon {
        font-size: 35px;
        cursor: pointer;
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0 20px;

        nav {
            height: max-content;
            position: absolute;
            top: 100%;
            left: -100%;
            width: 100%;
            height: calc(100vh - var(--headerHeight));
            flex-direction: column;
            background-color: white;
            transition: left 0.1s ease;
            overflow-y: auto;
            &.active {
                left: 0;
            }

            .navItem {
                height: max-content;
                width: 100%;
                padding: 20px;
                margin: 0;
                color: var(--black);
                &:hover,
                &:active {
                    background: var(--blue);
                    color: white;
                }

                .children {
                    background: transparent;
                    width: 100%;
                    transition: none;
                    box-shadow: none;
                    color: var(--black);

                    .profile {
                        padding: 20px 20px 20px 40px;
                        font-size: 23px;
                        flex-direction: row;

                        svg {
                            font-size: 23px;
                            margin-bottom: 0;
                        }
                    }

                    .childItem {
                        padding: 20px 20px 20px 40px;
                        color: var(--black);
                        &:hover,
                        &:active {
                            background: var(--blue);
                            color: white;
                        }
                    }
                }

                .arrowTop {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    margin-left: 0;
                }
            }
        }

        .menuIcon {
            display: block;
        }
    }
}

@media screen and (max-width: 545px) {
    .header {
        h1 {
            font-size: 27px;
        }
    }
}