@import '../../variables.css';

.header {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--blue);
    color: white;
}

.header nav {
    width: 400px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.header nav a {
    display: flex;
    align-items: center;
}

.header nav svg {
    color: white;
    font-size: 25px;    
    margin-right: 8px;
    cursor: pointer;
}

.header .menuIcon {
    font-size: 35px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1024px) {
    .header .menuIcon {
        display: block;
    }

    .header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        z-index: 1;
        background-color: red;
    }

    .header nav a {
        background-color: silver;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header nav a div {
        display: flex;
        justify-content: center;
        align-items: center;    
    }
}