@import "../../variables.css";

.mainContainer {
    min-height: calc(100vh - var(--headerHeight));
    padding: 40px;
    background: var(--black);
    margin-top: var(--headerHeight);

    .countriesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
        justify-content: center;
        gap: 45px;

        .text {
            width: max-content;
            margin: 0 auto;
            font-size: 30px;
            color: white;
        }
    }
}