@import "../../variables.css";

.mainContainer {
    min-height: calc(100vh - var(--headerHeight));
    padding: 40px;
    background: var(--black);
    margin-top: var(--headerHeight);

    .searchContainer {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;

        .searchWrapper {
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            width: 50%;
            
            .inputContainer {
                position: relative;
                width: calc(100% - 180px);
                
                input {
                    width: 100%;
                }
            }
    
            button {
                width: 180px;
                border: none;
                outline: none;
                background: rgb(28, 28, 28);
                color: white;
                padding: 10px 0;
                cursor: pointer;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    font-size: 21px;
                }

                svg {
                    margin-right: 3px;
                }
            }
        }

    }

    .countriesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
        justify-content: center;
        gap: 45px;
    }

    .topContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        .inputWrapper {
            position: relative;
            width: 45%;

            input {
                width: 100%;
            }
        }

        button {
            border: none;
            outline: none;
            background: var(--blue);
            color: white;
            font-size: 20px;
            padding: 10px 20px;
            margin-left: 40px;
            border-radius: 5px;
            margin-top: auto;
            cursor: pointer;
        }
    }

    .tableContainer {

        h2 {
            width: max-content;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    .adminCountries {
        .topContainer {
            flex-direction: column;

            .inputWrapper {
                width: 80%;

                input {
                    margin: 20px 0;
                }
            }

            button {
                margin: 15px 0 0 0;
                padding: 8px 50px;
            }
        }
    }
}