@import "../../variables.css";

.table {
    width: 90%;
    border-collapse: collapse;
    border: none;
    margin: 20px auto 40px auto;

    tr {
        &:nth-child(even) {
            background-color: rgb(241, 241, 241);
        }
    }

    th {
        background: var(--blue);
        color: white;
        padding: 20px;
        font-size: 20px;
        border: none;
    }

    td {
        padding: 15px;
    }

    .name {
        width: 70%;
        font-size: 27px;
        letter-spacing: 1.4px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .actions {
        width: 30%;

        input, svg {
            cursor: pointer;
        }

        svg {
            &:nth-child(2) {
                color: rgb(78, 78, 78);
            }
            &:nth-child(3) {
                color: rgb(196, 25, 25);
            }
        }
    }
}

@media screen and (max-width: 869px) {
    .table {
        .name {
            width: 60%;
        }

        .actions {
            width: 40%;
        }
    }
}

@media screen and (max-width: 646px) {
    .table {
        .name {
            width: 50%;
        }

        .actions {
            width: 50%;
        }
    }
}