@import "../../variables.css";

.table {
    width: 70%;
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
    border-radius: 7px;
    overflow: hidden;

    tr {
        background: white;
    }

    th {
        background: var(--blue);
        color: white;
        padding: 20px;
        font-size: 20px;
        border: none;
    }

    td {
        padding: 15px;
    }

    .subUserRow {

        .text {
            font-size: 25px;
            color: var(--black);
            padding-left: 20px;
        }
    }

    .subUserActions {
        width: 30%;

        .flex {
            display: flex;
            justify-content: space-around;
        }

        svg {
            font-size: 21px;
            cursor: pointer;
            &:nth-child(1) {
                color: var(--blue);
            }
            &:nth-child(2) {
                color: red;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .table {
        width: 90%;

        .subUserActions {
            width: 40%;
        }
    }
}

@media screen and (max-width: 646px) {
    .table {
        width: 100%;

        .subUserActions {
            width: 50%;
        }
    }
}