@import "../../variables.css";

.filteredItem {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    background: var(--blue);
    margin: 20px 100px;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .filteredItem {
        margin: 20px 50px;
    }
}

@media screen and (max-width: 752px) {
    .filteredItem {
        margin: 15px 10px;
    }
}