@import "../../variables.css";

.filteredCountryitem {
    width: 80%;
    font-size: 30px;
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 20px;
    color: white;
    background: var(--blue);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filteredCountryitem p {
    width: max-content;
    border-bottom: 1px solid white;
}