@import "../../variables.css";

.homePage {
    height: calc(100% - var(--headerHeight));   
    position: relative;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-track {
        background: rgb(223, 223, 223); 
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background: #1f79ef; 
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #2b75d6; 
    }

    .inputWrapper {
        width: 60%;
        position: relative;
        margin: 40px auto;

        input { 
            width: 100%;
        }
    }

    .filteredCountries {
        text-align: center;

        h2 {
            margin: 20px 0;
        }
    }
}